// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.question-label{
  color: blue;
}
.answer-label{
  color: red;
}
.q-box{
  border-color: black;
  border-width: thin;
  display: inline-block;
}
.a-box{
  border-color: black;
  border-width: thin;
  display: inline-block;
}
.program-type-text{
  display: none;
}
.fa-plus-form{
  background-color: black;
  color: white;
  margin-left: 20px;
  border-radius: 13px;
  padding: 5px;
}
.import-submit{
  cursor: pointer;
}
.home-container{
  text-align: center;
  margin-top: 100px;
}
.file-import-box{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  display: none;
}
.q-letter{
  color: blue;
  font-size: 20px;
}
.a-letter{
  color: red;
  font-size: 20px;
}
.q-type{
  margin-right: 5px;
  font-weight: bold;
}
.qa-container{
  margin: 10px 0;
}
.add-question{
  margin-left: 400px;
}
.type-and-id{
  font-weight: bold;
  display: inline;
}
.title-area{
  width: 150px;
  height: 30px;
}
.questionlabel{
  display: inline;
}
.answerlabel{
  display: inline;
}
.csv-download{
  margin-left: 20px;
  margin-top: -5px
}
.btn-dark{
  margin-top: -5px;
  margin-right: 20px;
}
.fa-edit{
  margin-left: 30px;
  cursor: pointer;
}
.fa-trash{
  margin-left: 30px;
}
.q-id{
  font-weight: bold;
  margin-right: 5px;
}
.enter-boxes{
  height: 300px;
}
.search-box{
  margin-top: 30px;
}
.search-form{
  margin-top: 30px;
}
.date{
  color: gray;
}
.fa-trash{
  color: red;
}
